html{
    background: linear-gradient(to right, #1E2933, #2B1E34);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
body{
    width: 1400px;
    height: 100%;
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    background-color: #1E1E1E;
    border-radius: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
}

header, main{
    background-color: #1E0044;
    width: 100%;
}

header {
    height: fit-content;
    padding: 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
a {
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 100;
}
nav a{
    border: 1px solid #be1aff;
    box-shadow: 0px 0px 10px #be1affa8;
    margin-right: 30px;
}
nav a::after {
    content: "↗";
}
a:hover{
    transform: scale(1.2);
    transition: transform 150ms cubic-bezier(.69,-0.82,.36,2.29);
    background: radial-gradient(#1cbfffa8, #be1affa8);
}
.discord{
    align-self: flex-end;
    margin-left: auto;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

main {
    width: 100%;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 50px 30px 30px 30px;
    margin-bottom: 20px;
}
.main-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: fit-content;
    flex: none;
    width: 60%;
}
.main-txt__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
h1 {
    font-size: 6rem;
    font-weight: 400;
}
h2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 30px;
    width: 60%;
}
.main-txt__paragraph {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.main-txt__paragraph p{
    font-weight: 100;
}
.logo{
    width: 40%;
    height: auto;
}

footer{
    display: flex;
    justify-content: space-between;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #9830F4;
    border-radius: 30px;
    height: fit-content;
    width: 49%;
    padding: 25px 30px 15px 30px;
}

.box__txt h3{
    font-size: 2rem;
    font-weight: 200;
}

.box__txt p{
    margin-top: 0.6rem;
    line-height: 1.3rem;
    text-align: justify;
}
.box__btn {
    display: flex;
    justify-content: center;
}
.box__btn a{
    margin-top: 20px;
}


@media screen and (max-width: 1220px){
    main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .main-txt{
        width: 90%;
    }
}
@media screen and (max-width: 850px){
    html{
        background: #000;
        padding: 0px;
        border-radius: 30px;
    }
}